body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

.file-input {
    margin: 20px 0;
}

#processButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#processButton:hover {
    background-color: #45a049;
}

.file-input label {
    margin-right: 10px;
}


.button-container {
    display: flex;
    text-align: center;
    margin: 20px 0;
}


